#-*-Makefile-*- vim:syntax=make

TARGET = samd20xpro

PROGRAMMER_TARGET = atmel_cm0p

STARTUP_FILE = startup_samd20.c
LINKER_FILE = samd20j18_flash.x
OPTFLAGS ?= -O3

VOLUME_FILE = volumes-at45db.xml
TOSMAKE_VOLUME_ALLOCATOR_FLAGS ?= tos-storage-at45db

$(call TOSMake_include_family,samm0p)
$(call TOSMake_include_platform,samd20xpro)
$(call TOSMake_include_make_platform,samxpro)

samd20xpro: $(BUILD_DEPS)
	@: